@using Wiki.Views.Shared;

@model IEnumerable<Wiki.Models.Biz.Article>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = SiteResource.Choosealanguage;
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

@helper selected(string c, string culture)
{
if (c == culture)
{
        @:checked="checked"
    }
}
@using (Html.BeginForm("SetCulture", "DAL"))
{
<fieldset>
    <legend>@SiteResource.Choosealanguage</legend>

    <div class="control-group">
        <div class="controls">
            <label for="en">
                <input name="culture" id="en" value="en" type="radio" @selected("en", culture) /> English
            </label>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <label for="es">
                <input name="culture" id="es" value="es" type="radio" @selected("es", culture) /> Español
            </label>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <label for="fr-CA">
                <input name="culture" id="fr-CA" value="fr-CA" type="radio" @selected("fr-CA", culture) /> Francais      
             </label>
        </div>
    </div>

    

</fieldset>
}
<h2>@SiteResource.Listofarticles</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Revision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdContributeur)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.Raw(@item.Contenu.Substring(0, (100 < item.Contenu.Length ? 100 : item.Contenu.Length)))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Revision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdContributeur)
            </td>
        </tr>
    }

</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    <br />
    <div class="form-horizontal">

        <div class="form-group">
            <span class="control-label col-md-2">@SiteResource.Title</span>
            @Html.TextBox("Titre")
        </div>
@if (User.Identity.IsAuthenticated)
{
        <div class="form-group">
            <span>@SiteResource.Contents</span>
            @Html.TextArea("Contenu", new { @class = "ckeditor" })
        </div>
}
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="operation" value=@SiteResource.Find class="btn btn-default" />
                @if (User.Identity.IsAuthenticated){
                <input type="submit" name="operation" value=@SiteResource.Update  class="btn btn-default" />

                <input type="submit" name="operation" value=@SiteResource.Add class="btn btn-default" />
                <input type="submit" name="operation" value=@SiteResource.Delete class="btn btn-default" />
                }

            </div>
        </div>
    </div>
}

@{if (ViewBag.Article != null)
    {
        <hr />
        <h4>@SiteResource.ResultofFind</h4>
        <span class="control-label col-md-2">@SiteResource.Title: @ViewBag.Article.Titre</span><br />
        <span>@SiteResource.Contents: @Html.Raw(@ViewBag.Article.Contenu)</span><br />
        @*<span class="control-label col-md-2">Contenu: @Html.Raw(@ViewBag.Article.Contenu)</span><br />*@
        <span class="control-label col-md-2">Changement Date: @ViewBag.Article.DateModification</span><br />
        <span class="control-label col-md-2">Revision: @ViewBag.Article.Revision</span><br />
        <span class="control-label col-md-2">IdContributor: @ViewBag.Article.IdContributeur</span><br />
    }
}
